{% comment %}
  Header section for Shopify Impact Theme
{% endcomment %}

<header>
  <div class="header-inner">
    <h1>My Store</h1>
    <nav>
      <ul>
        <li><a href="/collections/all">All Products</a></li>
        <li><a href="/pages/about">About Us</a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>